*{
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

hr{
    width: 60%;
    margin-top: 1px;
}
u{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    /* border-radius: 20px; */
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
}

.contact{
background-color: rebeccapurple;
font-size: 20px;
}

.navbar a {
    border: 2px solid #3498db;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    
}

.navbar a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 220px;
    z-index: 2;
    margin-left: -50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    /* box-shadow: 2px 2px rgb(46, 206, 21); */
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0px auto;
    align-content: center;
    align-items: stretch;
    margin-left: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container h1, h3, h4{ 
    text-align: center;
} 

.box {
    flex: 0 0 48%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.highlight {
    color: #4b6e94;
    font-weight: bold;
}

  .thisismain{
      align-items: center;
  }

  .containera{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 8px;
  }
  .info p{
    text-align: center;
    padding: px;
  }

  .bottom{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    background-color: #333;
    padding: 2px;
    border: 2px solid rebeccapurple;
  }

.source{
    color: white;
    margin-left: 20px;
    padding: 3px;
  }

  .source b{
    font-size: 13px;
  }

  .source .refe{
    font-size: 18px;
  }

.footer u{
    font-style: oblique;
font-size: 14px;
font-weight: bolder;
text-align: center;

}

.footer{
    text-align: center;
}

#contactus u{
    text-decoration: underline;
    font-size: 16px;
}
  

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
    *{
        font-size: 12px;
    }
    .navbar {
        flex-direction: column;
        align-items: stretch;
        margin-top: 2px;
        border-radius: 0px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 1px 1px;
    }
    
    .navbar a {
        font-size: 14px;
        padding: 5px; 
        font-weight: bolder;
        text-align: left;
        padding: 4px 4px;
    }
    
    .dropdown-content {
        font-weight: lighter;
        width: 60%;
        margin-right: 0px; /* Reset margin */
        align-items: center;
        right: 0;
        padding: 2px 2px;
        /* margin-top: -80px; */
    }
    .dropdown-content a {
        padding: 4px 3px;
    }


.navbar .dropdown:nth-child(8) .dropdown-content{
    margin-top: -150px;
}
.navbar .dropdown:nth-child(9) .dropdown-content{
    margin-top: -180px;
}
.navbar .dropdown:nth-child(7) .dropdown-content {
    margin-top: -110px;
}
.navbar .dropdown:nth-child(6) .dropdown-content {
    margin-top: -100px;
}
.navbar .dropdown:nth-child(2) .dropdown-content {
    margin-top: -10px;
}
.navbar .dropdown:nth-child(5) .dropdown-content {
    margin-top: -70px;
}
.navbar .dropdown:nth-child(1) .dropdown-content {
    margin-top: -10px;
}
.navbar .dropdown:nth-child(4) .dropdown-content {
    margin-top: -40px;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto;
    align-content: center;
    align-items: stretch;
    margin-left: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    font-size: small;
    width: 100%;
}

.dropdown-content a{
    font-size: 12px;
}

.bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #333;
  }
  .form{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.source{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container h2{
    font-size: 15px;
  }
   
   h1.wellcomebca{
    text-align: center;
    text-decoration: none;
}

h4.Empower{
    padding: 0;
    margin: 0;
}

.source b{
    font-size: 12px;
  }

  .source .refe{
    font-size: 14px;
  }
}